<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>GentelellaBower</title>
  <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Include style per-controller - vendor plugins -->
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets_manifest.assets["#{params[:controller]}.css"] %>
  <%#= stylesheet_link_tag 'fonts_bootstrap', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="login">
  <%= yield %>
  <!-- Include javascript per-controller - vendor plugins -->
  <%= javascript_include_tag params[:controller] if ::Rails.application.assets_manifest.assets["#{params[:controller]}.js"] %>
  <%= yield :javascript %>
</body>
</html>
